<div class="container">
    <div class="mx-auto justify-content-center d-flex">
        <div class="dropdown-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter Categories
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li *ngFor="let category of Categories"><a class="dropdown-item" href="#" (click)="filterCategories(category)">{{category}}</a></li>
              <li><hr class="divider my-2"></li>
              <li ><a class="dropdown-item" href="#" (click)="filterCategories('Clear')">Clear Filters</a></li>
            </ul>
          </div>
    </div>


    <div class="row gx-5 gy-5 my-5 justify-content-center" > 
        <!--For Each Column-->
        <ul class="col-md-6 col-sm-10" *ngFor="let post of posts; index as i" ngTilt [maxTilt]=5 [scale]=1 >
            <li>
                <a [routerLink]="'post/' + post.id"> <!-- anchor element + angular Tilt =  text unselectable by user-->
                <!--Card-->
                <div class="card bg-dark text-light p-2"  ngTiltParallax [distance]=0 >
                    <div class="card-body text-break overflow-hidden" style="height: 300px; max-height: 300px; text-overflow: ellipsis;">
                            <h3 class="card-title text-center Playfair text-decoration-underline">{{post.title}}</h3>
                            <h6 class="card-subtitle text-secondary text-center Playfair p-2">{{post.category}}</h6>
                            <hr> 
                            <p class="card-text text-center crimsonRoman p-3">{{post.summary}}</p>
                    </div>
                </div>
            </a>
            </li>
        </ul>

    </div>
</div>
