@font-face {
    font-family: Playfair;
    src: url(../../../assets/fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf);  
}
@font-face {
    font-family: QuikHand;
    src: url(../../../assets/fonts/Quikhand.ttf);  
}
@font-face {
    font-family: CrimsonRoman;
    src: url(../../../assets/fonts/Crimson/Crimson-Roman.ttf);  
}
ul{
    li{
        list-style-type: none;

        a{
            text-decoration: none;
        }
    }
}
hr{
    width: 50%;
    opacity: 10%;
    margin: auto;
}
.Playfair{
    font-family: Playfair;
}
.quikHand{
    font-family: QuikHand;
    letter-spacing: 2px;
    font-size:1.15em;
}
.crimsonRoman{
    font-family: CrimsonRoman;
    font-size:1.15em;
}

