@font-face {
    font-family: Playfair;
    src: url(../assets/fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf);  
}
#journey{
    margin: 3em auto;
    position: relative;
    font-family: Playfair;
    background: rgb(42,52,60);
    background: radial-gradient(circle, rgba(42,52,60,0.6867121848739496) 0%, rgba(0,0,0,0) 100%);
    
    a{
        text-decoration: none;
        color: inherit;
    }
}
#particles-js{
    height: 100%;
    width: 100%;
    position: fixed;
  } 
#navigation{
    list-style: none;
    color: white;
    font-family: Playfair;
    font-size: 1.25em;
    
        a{
            text-decoration: none;
            color: inherit;
        }
        a:hover{
            text-decoration: underline;
        }

    
}
.hireMe{
    background-color: #8BA5BA;
    color: black;
    font-weight: bold;
    padding: .5em;
    border-radius: 10px;
}
