<div id="particles-js"></div>
<div class="container">
  <!--Header-->
  <div class="row justify-content-center">
    <div class="col-8 p-5 m-5">
      <div class="display-1 text-light text-center p-5" id="journey" >The Journey</div>
    </div> 
  </div>


 <!--Content-->
 <div class="row row-cols-2 gx-5 gy-5 m-5">

  <!-- column 1 -->
  <div class="col">
    <div class="card bg-dark text-light p-2">
      <div class="card-body">
        <h3 class="card-title text-center">Title</h3>
        <h6 class="card-subtitle text-secondary text-center mb-3">Card Subtitle</h6>
        <p class="card-text">Card text that is taking up a fair bit of space so that I can see what it would kinda look like when I actually have something usefull here. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae autem, totam repudiandae minima inventore distinctio quibusdam illo neque laudantium doloremque obcaecati rerum eaque pariatur est odio recusandae cum quo iure!</p>
      </div>
    </div>
  </div>

      <!-- column 2 -->
      <div class="col">
        <div class="card bg-dark text-light p-2">
          <div class="card-body">
            <h3 class="card-title text-center">Title</h3>
            <h6 class="card-subtitle text-secondary text-center mb-3">Card Subtitle</h6>
            <p class="card-text">Card text that is taking up a fair bit of space so that I can see what it would kinda look like when I actually have something usefull here. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae autem, totam repudiandae minima inventore distinctio quibusdam illo neque laudantium doloremque obcaecati rerum eaque pariatur est odio recusandae cum quo iure!</p>
          </div>
        </div>
      </div>
      <!-- column 3  -->
      <div class="col">
        <div class="card bg-dark text-light p-2">
          <div class="card-body">
            <h3 class="card-title text-center">Title</h3>
            <h6 class="card-subtitle text-secondary text-center mb-3">Card Subtitle</h6>
            <p class="card-text">Card text that is taking up a fair bit of space so that I can see what it would kinda look like when I actually have something usefull here. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae autem, totam repudiandae minima inventore distinctio quibusdam illo neque laudantium doloremque obcaecati rerum eaque pariatur est odio recusandae cum quo iure!</p>
          </div>
        </div>
      </div>

 <!-- column 4  -->
  <div class="col">
    <div class="card bg-dark text-light p-2">
      <div class="card-body">
        <h3 class="card-title text-center">Title</h3>
        <h6 class="card-subtitle text-secondary text-center mb-3">Card Subtitle</h6>
        <p class="card-text">Card text that is taking up a fair bit of space so that I can see what it would kinda look like when I actually have something usefull here. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae autem, totam repudiandae minima inventore distinctio quibusdam illo neque laudantium doloremque obcaecati rerum eaque pariatur est odio recusandae cum quo iure!</p>
      </div>
    </div>
  </div>
  
 </div>
</div>









