@font-face {
    font-family: DadHand;
    src: url(../assets/fonts/dadha___.ttf);
    
}

#journey{
    margin: 3em auto;
    position: relative;
    font-family: DadHand;
    background: rgb(42,52,60);
    background: radial-gradient(circle, rgba(42,52,60,0.6867121848739496) 0%, rgba(0,0,0,0) 100%);
    
    a{
        text-decoration: none;
        color: inherit;
    }
}
#particles-js{
    height: 100%;
  width: 100%;
  position: fixed;
  } 
