@font-face {
    font-family: Playfair;
    src: url(../../../assets/fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf);  
}
.playfair{
    font-family: Playfair;
}
.container{
    margin-bottom: 20em;
    position: relative;

    .commentSection{
        background-color: #0E0F1175;

        .comment{
            border-radius: 45px;
        }
        
        
    }
    
    .custom-border-color{
        border-color: #495057!important;

        
    }
   
    .button-section{
     
    

        button{
            background-color: #4B5158;
            color: white;
        }
        button:hover{
            background-color: #6c747e;
        }
    }

  
}

@media only screen and (max-width: 990px) {
    .commentText{
        border: none!important;
        padding-top: 10px;
    }
    .commentUsername{
        width: 75%;
        margin: auto;
        padding-bottom: 5px;
        border-bottom: 1px solid #495057;
    }


}
