<div class="container">
    <ul class="justify-content-center row p-0">
        <div class="col-10" ngTilt [maxTilt]=1 [scale]=1>
            <div class="card bg-dark text-light p-2 mt-5 mb-5" ngTiltParallax [distance]=0 style="min-height: 500px;">
            <div class="card-body p-2">
                <h3  class="card-title text-center">{{post.title}}</h3>
                <h6 class="card-subtitle text-secondary text-center mb-3">{{post.filter}}</h6>
                <p class="card-text p-2">{{post.content}}</p>
            </div>
            </div>
        </div>
    </ul>
</div>