/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/images/HJ10975.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
        // background-image: linear-gradient(to right bottom, #6082b6, #58739d, #506484, #48556d, #3f4756);

}
